@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
body {
  background-color: #F4F2E6;
}

.intro {
  display: flex;
  margin: 5%;
  gap: 120px;
}

.light-green {
  background-color: #9E9E8F;
  height: 380px;
  width: 270px;
  border-radius: 70px;
  position: absolute;
  z-index: 1;
  left: 240px;
  top: 90px;
}

.light-green-wrapper::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 220px;
  width: calc(20%);
  height: calc(48%);
  border-radius: 70px;
  border: 5px dotted #7b8679;
}

.pfp {
  width: clamp(100px, 30vw, 300px);
  height: clamp(200px, 40vw, 400px);
  border-radius: 60px;
  position: relative;
  z-index: 2;
  left: 70px;
  top: 80px;
}

.dark-green {
  background-color: #444E42;
  height: 380px;
  width: 270px;
  border-radius: 70px;
  position: absolute;
  z-index: 1;
  left: 450px;
  top: 300px;
}

.dark-green-wrapper::before {
  content: "";
  position: absolute;
  bottom: 150px;
  right: 758px;
  width: calc(20%);
  height: calc(48%);
  border-radius: 70px;
  border: 4px dotted #9E9E8F;
}

.pictures-left {
  display: flex;
  width: 50%;
  justify-content: center;
}

.text-right {
  margin-top: 5%;
}

.text-right h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 900;
  font-size: clamp(4rem, 7vw, 5.4rem);
}

.text-right h2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4.6rem);
}

.first-name {
  margin-top: -30px;
}

.last-name {
  margin-top: -30px;
}

/* About Section */

.about {
  background-color: #657961;
  margin-top: 8%;
  padding: 45px 0px 100px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: 'Inter', sans-serif;
  gap: 30px;
}

.header h1 {
  font-size: 4.7rem;
  font-weight: 600;
}

.header h2 {
  font-size: 1.7rem;
  font-weight: 600;
  align-self: center;
}

.about p {
  color: white;
  font-family: 'Inter', serif;
  text-align: center;
  margin: 0% 9%;
  font-size: 1.5rem;
  font-weight: 500;
}

.fun-facts {
  display: flex;
  margin: 6% 0% 6% 0%;
  justify-content: center;
  gap: 10%;
}

.box {
  width: 290px;
  height: 270px;
  background-color: #9E9E8F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content p {
  color: white;
  background-color: #9E9E8F;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  max-width: 250px;
  align-items: center;
  align-content: center;
  padding: 20px;
  text-wrap: wrap;
  height: 20px;
}

.box-content img {
  width: 250px;
  height: 230px;
}


.left {
  font-size: 19px;
}

.center {
  font-size: 22px;
}

.right {
  font-size: 17px;
}

/* Coding Journey Section */

.coding-journey {
  background-color: #444E42;
  color: white;
  justify-items: center;
  font-family: 'Kumbh Sans', serif;
  padding: 2% 0% 8% 0%;
}

.coding-journey h1 {
  font-weight: 600;
  font-size: 4.2rem;
}


.circles {
  display: flex;
  color: #2F2F2F;
  font-family: 'Inter', serif;
  font-weight: 600;
  gap: 20px;  
}

.small-circle {
  background-color: #F9E31A;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  align-self: center;
}

.yellow {
  background-color: #D3A761;
  width: 150px;
  height: 140px;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 1.4rem;
  position: relative;
}

.circle-wrapper-yellow, .circle-wrapper-pink, .circle-wrapper-purple, .circle-wrapper-green, .circle-wrapper-white{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-wrapper-yellow::before {
  content: "";
  position: absolute;
  top: 47px;
  left: 5px;
  width: calc(78% + 18px);
  height: calc(60% + 20px);
  border-radius: 50%;
  border: 2.5px dotted #EFC685;
  gap: 4px;
}

.pink {
  background-color: #C47E6E;
  width: 200px;
  height: 190px;
  align-content: center;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.circle-wrapper-pink::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 43px;
  width: calc(50% + 20px);
  height: calc(125% + 20px);
  border-radius: 50%;
  border: 2.5px dotted #F5846A;
  transform: rotate(35deg);
}

.pink p {
  font-size: 1.8rem;
  width: 90px;
  justify-self: center;
}

.bigger-text {
  font-size: 2rem;
}

.purple {
  background-color: #A68A94;
  width: 150px;
  height: 140px;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.circle-wrapper-purple::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 5px;
  width: calc(85% + 10px);
  height: calc(70% + 20px);
  border-radius: 50%;
  border: 2.5px dotted #FF94BA;
}

.purple p {
  font-size: 1.2rem;
  width: 90px;
  justify-self: center;
}

.green {
  background-color: #9E9E8F;
  width: 200px;
  height: 190px;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  position: relative; 
}

.green p {
  font-size: 1.2rem;
  width: 120px;
  justify-self: center;
}

.circle-wrapper-green::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -13px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 50%;
  border: 2.5px dotted #C6C6BE;
}

.white {
  background-color: #FFFEFC;
  width: 150px;
  height: 140px;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.circle-wrapper-white::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 40px;
  width: calc(75% + 20px);
  height: calc(85% + 20px);
  border-radius: 50%;
  border: 2.5px dotted #C6C6BE;
}

.white p {
  font-size: 1rem;
  width: 120px;
  justify-self: center;
}

.coding-journey h3 {
  color: white;
}

.first-circle h3 , .first-circle .small-circle {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 2rem;
}

.first-circle .small-circle , .third-circle .small-circle, .last-circle .small-circle{
  margin-bottom: 10%;
}


.second-circle .small-circle , .fourth-circle .small-circle{
  margin-top: 10%;
}


.second-circle h3 , .second-circle .small-circle {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 2rem;
}

.third-circle h3 , .third-circle .small-circle {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 2rem;
}

.fourth-circle h3 , .fourth-circle .small-circle {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 2rem;
}

.last-circle h3 , .last-circle .small-circle {
  display: flex;
  justify-self: center;
  font-weight: 600;
  font-size: 2rem;
}

.middle {
  transform: translateY(155%);
}

.second-circle, .fourth-circle {
  transform: translateY(30%);
}

/* Favorites Section */
.my-favorite h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  justify-self: center;
}

.header-note {
  justify-self: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: -35px;
}

.top-left {
  display: flex;
  gap: 50px;
}

/* Songs Section */

.songs {
  background-color: #657961;
  border-radius: 38px;
  width: 330px;
  height: 450px;
  justify-items: center;
  padding: 30px 30px 0px 30px;
}

.songs-content {
  justify-items: center;
}

.songs-content h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.image-background img {
  background-color: #9E9E8F;
  border-radius: 25px;
  padding: 20px;
  height: 220px;
  box-shadow: 1px 3px 1px rgba(83, 82, 82, 0.623);
  width: 230px;
  
}

.title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
  background-color: #9E9E8F;
  padding: 16px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 3px 1px rgba(83, 82, 82, 0.623);
  margin-top: 5px;
}

.controls {
  display: flex;
  gap: 28px;
}

.prev, .play, .next {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  box-shadow: 1px 3px 1px rgba(71, 70, 70, 0.977);
  border: none;
}

.prev:hover, .play:hover, .next:hover {
  background-color: rgba(174, 172, 172, 0.25);
  transform: translateY(2px);
}

.prev img, .play img, .next img{
  height: 38px;
  width: 42px;
  padding: 5px;
}

/* Books Section */

.books {
  background-color: #4E3737;
  height: 437px;
  border-style: solid;
  border-color: #657961;
  border-width: 25px;
  border-radius: 50px;
  justify-items: center;
  min-width: 250px;
}

.books h2 {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
}

.book-img {
  width: 145px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 30px;
}

.books-content h2 {
  text-align: center;
  font-size: 1.4rem;
}

.bottom-arrows {
  display: flex;
  gap: 40px;
  margin-top: 15px;
}

.left {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 6px;
  box-shadow: 1px 3px 1px rgba(42, 41, 41, 0.977);
  border: none;
}

.left img {
  width: 50px;
  height: 38px;
}

.right {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 3px 1px rgba(42, 41, 41, 0.977);
  border: none;
}

.right img {
  width: 42px;
  height: 30px;
}

.left:hover, .right:hover {
  background-color: rgba(174, 172, 172, 0.25);
  transform: translateY(2px);
}


/* Show/Movies Section */

.shows-movies {
  background-color: #657961;
  padding: 30px 20px;
  display: flex;
  border-radius: 30px;
  gap: 6%;
  margin-top: 2%;
}


.show-info {
  background-color: #9E9E8F;
  width: 360px;
  padding: 10px 25px;
  justify-items: center;
  border-radius: 40px;
  align-self: center;
}

.show-info h2 {
  background-color: #444e4248;
  color: white;
  padding: 25px;
  width: 340px;
  border-radius: 50px;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 1px 3px 4px #666a66;
}

.show-info img {
  width: 370px;
  height: 230px;
  border-radius: 30px;
  margin-top: 15px;
}

.remote {
  background-color: #89A583;
  border-radius: 50px;
  width: 220px;
  padding: 5px 5px 15px 5px;
  box-shadow: 1px 7px 4px #50604c;
  justify-items: center;
}

.power {
  background-color: #e94949c5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  justify-self: flex-end;
  box-shadow: 1px 4px 2px rgb(107, 94, 94);
  margin-right: 20px;
  margin-top: 18px;
}

.outer-circle {
  background-color: #d0cfcf5d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 85px;
  width: 85px;
  box-shadow: 1px 3px 4px rgb(107, 106, 106);
}

.inner-circle {
  background-color: #dfdfdf5d;
  border-radius: 50%;
  height: 48px;
  width: 50px;
  box-shadow: 0px 3px 2px rgb(104, 104, 104);
  margin-top: 5%;
}

.control-buttons {
  display: flex;
  gap: 80px;
  justify-self: center;
}

.control-buttons button {
  background-color: #444e4240;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 1px 3px 2px #667962;
  border: none;
}

.control-buttons img {
  width: 36px;
  height: 28px;
}

.control-buttons button:hover {
  background-color: #2c332b59;
  transform: translateY(2px);
}

.top-buttons, .bottom-buttons {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.top-buttons div, .bottom-buttons div {
  background-color: rgba(255, 255, 255, 0.243);
  width: 48px;
  height: 24px;
  border-radius: 30px;
  box-shadow: 1px 4px 2px #667962;
}

.random-buttons-upper {
  padding: 5%;
  display: grid;
  gap: 15px;
}

.buttons-bottom {
  display: flex;
  justify-content: center;
  gap: 8%;
  margin-top: 5%;
}

.long-button {
  background-color: #444e4240;
  width: 48px;
  height: 115px;
  border-radius: 60px;
  box-shadow: 1px 3px 3px #667962;
}

.stacked-buttons {
  display: grid;
  gap: 10px;
}

.stacked-buttons div {
  background-color: rgba(255, 255, 255, 0.243);
  width: 45px;
  height: 30px;
  border-radius: 17px;
  box-shadow: 1px 4px 2px #667962;
}

.shows-movies-header {
  text-align: center;
}

.left-side-things {
  display: grid;
  gap: 2%;
}

.favorites-section {
  display: flex;
  justify-content: center;
  gap: 6%;
}

/* Food Section */
.food {
  display: flex;
  flex-direction: column;
  background-color: #657961;
  color: white;
  border-radius: 40px;
  padding: 3% 12%;
  justify-items: center;
  gap: clamp(1rem, 2vw, 3rem);
  width: 70%;
}

.sushi, .tacos, .ramen, .goi-cuon, .boba {
  display: flex;
  gap: 8%;
}

.food h2 {
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.food p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  max-width: 380px;
  font-size: 0.9rem;
  line-height: 23px;
}

.food-heading {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.sushi img, .tacos img, .ramen img, .goi-cuon img, .boba img {
  height: 95px;
  align-self: center;
}

/* Detail Section */

.main-squiggle-left, .main-squiggle-right, .fact-squiggle-right, .fact-squiggle-left {
  position: absolute;
}

.main-squiggle-left {
  top: 10px;
  left: 10px;
}

.main-squiggle-right {
  bottom: 120px;
  right: 10px;
}

.fact-squiggle-right {
  right: 0px;
  bottom: -495px;
}

.fact-squiggle-left {
  left: 0px;
  bottom: -895px;
}

@media (max-width: 480px) {
  /* Styles for small screens */
}

/* Tablets (portrait) */
@media (max-width: 481px) {
  /* Styles for tablets */
  
}

/* Tablets (landscape) and small desktops */
@media (max-width: 769px) {
  /* Styles for medium screens */
  .header h2 {
    display: none;
  }

  .fun-facts {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .coding-journey h1 {
    text-align: center;
  }

  .circles {
    display: flex;
    flex-direction: column;
  }

  .top-header {
    text-align: center;
  }
}

/* Large desktops */
@media (max-width: 1025px) {
  /* Styles for large screens */
  

}

/* Extra large desktops */
@media (max-width: 1201px) {
  .main-squiggle-left, .main-squiggle-right, 
  .fact-squiggle-right, .fact-squiggle-left,
  .dark-green-wrapper::before, .light-green-wrapper::before,
  .light-green, .dark-green {
  display: none;
  }

  .pfp {
    border-style: solid;
    border-color: #444E42;
    border-width: 35px;
    border-radius: 80px;
  }

}